body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
    font-size: 28px;
    color: #333;
}

a {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.label-file {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-file {
    display: none;
}

.file-upload-container {
    border: 2px dashed #007bff;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.file-upload-container:hover {
    border-color: #0056b3;
}

.file-upload-container.dragover {
    background-color: #f2f2f2;
}

.file-upload-container span {
    font-size: 16px;
    color: #333;
}

.file-upload-container .upload-icon {
    font-size: 48px;
    margin-bottom: 10px;
    color: #007bff;
}

.upload-info {
    margin-top: 10px;
}

.input-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-submit:hover {
    background-color: #0056b3;
}