body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

header {
    background-color: #ffffff;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #292929;
    padding-bottom: .5rem;
    font-size: 16px;
}

nav ul li a:hover {
    color: #007bff;
}

nav ul li a.active {
    border-bottom: 2px solid #007bff;
}

.connect-wallet-div {
    display: flex;
}

.connect-wallet-div span {
    margin: .5rem;
}

button.connect-wallet-button {
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

button.connect-wallet-button:hover {
    background-color: #0056b3;
}

.copy-button {
    padding: 8px 16px;
    background-color: #f0f0f0;
    color: #292929;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.copy-button:hover {
    background-color: #f0f0f0;
}

.container {
    margin: 1.5rem;
    padding: 2rem; 
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    margin: 0 0 1rem;
    padding: 0;
}

.container p {
    margin: 0;
}

.drop-zone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.drop-zone:hover {
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
    color: #292929;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

.delete-document-btn,
.download-document-btn {
    padding: 8px;
    margin:5px;
    width: 83px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    text-decoration: none;
}
.delete-document-btn {
    background-color: #ddd;
}

.delete-document-btn:hover {
    background-color: #c82333; 
}

.download-document-btn {
    background-color: #ddd; 
}

.download-document-btn:hover {
    background-color: #0056b3; 
}

.send-document {
    margin-bottom: 2rem;
}

.send-document h2 {
    margin-bottom: 1rem;
}

.send-document label {
    display: block;
    margin-bottom: .5rem;
    color: #292929;
}

.send-document select, .send-document input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.send-document button {
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.send-document button:hover {
    background-color: #0056b3;
}

.status {
    margin-top: 1rem;
}

.status label {
    font-weight: bold;
}

.status span {
    display: inline-block;
    margin-left: 10px;
    color: #007bff;
}

.save-button,
.reject-button {
    padding: 8px;
    margin:5px;
    width: 83px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    text-decoration: none;
}