<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Documents</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include "_header.html" %}
    <div class="container">
        <h1>Загрузить документы</h1>

        <div class="drop-zone" id="drop-zone">
            <span>Перетащите документы сюда или кликните, чтобы загрузить</span>
            <input type="file" id="file-input" style="display: none;">
        </div>
        <div class="file-info-div" id="file-info-div" style="display: none;">
            <div id="file-info" style="margin-top: 20px;"></div>
            <button id="upload-doc-btn">Загрузить</button>
        </div>
    </div>
    <div class="container">
        <table>
            <h1>Мои документы</h1>
            <thead>
                <tr>
                    <th>Имя файла</th>
                    <th>Хеш</th>
                    <th>Время создания</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                <tr id="doc-{{ document.hash }}">
                    <td>{{ document.name }}</td>
                    <td style="cursor: pointer;">{{ document.hash }}</td>
                    <td>{{ document.timestamp }}</td>
                    <td>
                        <button class="delete-document-btn" data-hash="{{ document.hash }}">Удалить</button>
                        <button class="download-document-btn" data-hash="{{ document.hash }}">Сохранить</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        const dropZone = document.getElementById('drop-zone');
        const fileInput = document.getElementById('file-input');
        const fileInfoDiv = document.getElementById('file-info-div');
        const fileInfo = document.getElementById('file-info');
        const uploadBtn = document.getElementById('upload-doc-btn');
        let selectedFile = null;

        dropZone.addEventListener('click', () => {
            fileInput.click();
        });

        fileInput.addEventListener('change', () => {
            selectedFile = fileInput.files[0];
            displayFileInfo(selectedFile);
            fileInfoDiv.style.display = 'block';
        });

        dropZone.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropZone.classList.add('dragged');
        });

        dropZone.addEventListener('dragleave', () => {
            dropZone.classList.remove('dragged');
        });

        dropZone.addEventListener('drop', (e) => {
            e.preventDefault();
            const files = e.dataTransfer.files;
            if (files.length) {
                selectedFile = files[0];
                displayFileInfo(selectedFile);
                fileInfoDiv.style.display = 'block';
            }
            dropZone.classList.remove('dragged');
        });

        uploadBtn.addEventListener('click', () => {
            if (selectedFile) {
                uploadFile(selectedFile);
            }
        });

        function displayFileInfo(file) {
            fileInfo.innerHTML = `
                <p><strong>Имя файла:</strong> ${file.name}</p>
                <p><strong>Размер файла:</strong> ${(file.size / 1024).toFixed(2)} KB</p>
                <p><strong>Тип файла:</strong> ${file.type}</p>
            `;
        }

        function uploadFile(file) {
            const formData = new FormData();
            formData.append('file', file);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Результат загрузки:', data);
                
                const fileInfoDiv = document.getElementById('file-info-div');
                if (fileInfoDiv) {
                    fileInfoDiv.classList.add('fade-out');
                    setTimeout(() => {
                        fileInfoDiv.style.display = 'none';
                    }, 1000);
                }
                window.location.href = '/';
            })
            .catch(error => {
                console.error('Ошибка загрузки файла:', error);
            });
        }

        document.querySelectorAll('.delete-document-btn').forEach(button => {
            button.addEventListener('click', async (event) => {
                const hash = event.target.dataset.hash;
                const row = document.getElementById(`doc-${hash}`);

                try {
                    const response = await fetch('/delete', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ file_hash: hash })
                    });
                    
                    const result = await response.json();
                    if (response.ok) {
                        console.log(result.message);
                        row.remove();
                    } else {
                        console.error(result.error);
                    }
                } catch (error) {
                    console.error('Ошибка при удалении файла:', error);
                }
            });
        });

        document.querySelectorAll('.download-document-btn').forEach(button => {
            button.addEventListener('click', async (event) => {
                const hash = event.target.dataset.hash;

                try {
                    const response = await fetch('/download/' + hash, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ file_hash: hash })
                    });

                    if (response.ok) {
                        const result = await response.json();

                        const selectedPath = await getSaveFilePath();

                        await fetch('/download/' + hash, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ file_hash: hash, file_path: selectedPath })
                        });
                    } else {
                        console.error('Ошибка при скачивании файла:', response.statusText);
                    }
                } catch (error) {
                    console.error('Произошла ошибка:', error);
                }
            });
        });

        async function getSaveFilePath() {
            return new Promise((resolve, reject) => {
                const input = document.createElement('input');
                input.type = 'file';
                input.setAttribute('webkitdirectory', '');
                input.setAttribute('directory', '');
                input.addEventListener('change', () => {
                    if (input.files.length > 0) {
                        resolve(input.files[0].path);
                    } else {
                        reject('Путь к файлу не выбран');
                    }
                });
                input.click();
            });
        }

    </script>
</body>
</html>