<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Documents</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include "_header.html" %}
    <div class="container">
        <div class="info-section">
            <h1>Добро пожаловать в secDox!</h1>
            <p>secDox — это Web3-решение, предназначенное для управления децентрализованным документооборотом с использованием технологии блокчейн.<br>Авторизируйтесь, чтобы получить доступ к полному функционалу приложения.</p>
            
            <h2>Функциональные возможности</h2>
            <p>Программное средство предоставляет следующие возможности:</p>
            <ul>
                <li>Хранение документов в децентрализованном хранилище.</li>
                <li>Загрузка и удаление документов в системе.</li>
                <li>Безопасный обмен документами с использованием технологии блокчейн.</li>
                <li>Отслеживание статуса отправленных и полученных документов.</li>
                <li>Сохранение и отклонение полученных документов.</li>
                <li>Просмотр истории всех операций.</li>
            </ul>
            
            <h2>Интеграция Metamask</h2>
            <p>Для использования всех возможностей приложения, пожалуйста, подключите горячий кошелек Metamask. Это позволит вам:</p>
            <ul>
                <li>Авторизироваться в системе.</li>
                <li>Подтверждать транзакции по управлению документами.</li>
                <li>Использовать функционал программного средства.</li>
            </ul>

            <h2>Быстрый старт</h2>
            <p>Следуйте этим шагам для начала работы:</p>
            <ul>
                <li>Установите и настройте Metamask. Загрузите расширение Metamask из официального магазина браузера и создайте новый кошелек или импортируйте существующий.</li>
                <li>Подключите кошелек, используя кнопку выше. После настройки Metamask нажмите на кнопку "Подключить кошелек" на этой странице для авторизации.</li>
                <li>После авторизации вы сможете загружать и обмениваться документами безопасно и эффективно. Перейдите в раздел обмена документами, выберите файл и отправьте его адресату.</li>
                <li>Отслеживайте статус отправленных и полученных документов. В разделе "История операций" вы можете просматривать все свои транзакции.</li>
            </ul>
        </div>
    </div>
</body>
</html>