<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Documents</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include "_header.html" %}
    <div class="container">
        <h1>Загрузить документы</h1>
        <!-- <p>This is the content of the my documents page.</p> -->

        <div class="drop-zone" id="drop-zone">
            <span>Перетащите документы сюда или кликните, чтобы загрузить</span>
            <input type="file" id="file-input" style="display: none;">
        </div>
    </div>
    <div class="container">
        <table>
            <h1>Мои документы</h1>
            <thead>
                <tr>
                    <th>Имя файла</th>
                    <th>Хеш</th>
                    <th>Время создания</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                <tr>
                    <td>{{ document.name }}</td>
                    <td>{{ document.hash }}</td>
                    <td>{{ document.created_at }}</td>
                    <td>
                        <form method="POST" action="/delete/{{ document.hash }}">
                            <button type="submit" class="delete-document-btn">Удалить</button>
                        </form>
                        <form method="POST" action="/download/{{ document.hash }}">
                            <button type="submit" class="download-document-btn">Сохранить</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        const dropZone = document.getElementById('drop-zone');
        const fileInput = document.getElementById('file-input');

        dropZone.addEventListener('click', () => {
            fileInput.click();
        });

        fileInput.addEventListener('change', () => {
            uploadFile(fileInput.files[0]);
        });

        dropZone.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropZone.classList.add('dragged');
        });

        dropZone.addEventListener('dragleave', () => {
            dropZone.classList.remove('dragged');
        });

        dropZone.addEventListener('drop', (e) => {
            e.preventDefault();
            const files = e.dataTransfer.files;
            if (files.length) {
                uploadFile(files[0]);
            }
            dropZone.classList.remove('dragged');
        });

        function uploadFile(file) {
            const formData = new FormData();
            formData.append('file', file);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Результат загрузки:', data);
            })
            .catch(error => {
                console.error('Ошибка загрузки файла:', error);
            });
        }
    </script>
</body>
</html>