<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include "_header.html" %}
    <div class="container">
        <table>
            <h1>История транзакций</h1>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Документ</th>
                    <th>Дата и время</th>
                    <th>Тип</th>
                    <th>Отправитель</th>
                    <th>Получатель</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.timestamp }}</td>
                    <td>{{ transaction.tx_type }}</td>
                    <td>{{ transaction.sender | shorten }}</td>
                    <td>{{ transaction.reciever | shorten }}</td>
                    <td>{{ transaction.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>