<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Documents</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include "_header.html" %}
    <div class="container">
        <div class="send-document">
            <h1>Выбор документа и адресата для отправки</h1>
            <label for="document-select">Выберите документ:</label>
            <select id="document-select">
                {% for user_doc in user_docs %}
                <option value="{{ user_doc.hash }}">{{ user_doc.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="address-input">Адрес:</label>
            <input type="text" id="address-input" placeholder="Введите адрес Ethereum">

            <button id="send-button">Отправить</button>

            <div class="status">
                <label for="status-display">Статус:</label>
                <span id="status-display">Ожидание отправки...</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="received-documents">
            <h1>Полученные документы</h1>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Имя файла</th>
                        <th>Хеш</th>
                        <th>Отправитель</th>
                        <th>Размер</th>
                        <th>Время отправления</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for income_doc in income_docs %}
                    <tr>
                        <td></td>
                        <td>{{ income_doc.name }}</td>
                        <td>{{ income_doc.hash }}</td>
                        <td>{{ income_doc.sender | shorten }}</td>
                        <td>{{ income_doc.size | format_size }}</td>
                        <td>{{ income_doc.timestamp }}</td>
                        <td>
                            <button class="delete-document-btn" data-hash="{{ income_doc.hash }}">Отклонить</button>
                            <button class="download-document-btn" data-hash="{{ income_doc.hash }}">Сохранить</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        document.getElementById('send-button').addEventListener('click', async () => {
            const documentSelect = document.getElementById('document-select');
            const addressInput = document.getElementById('address-input');
            const statusDisplay = document.getElementById('status-display');

            const selectedDocument = documentSelect.value;
            const recipientAddress = addressInput.value;
            
            if (!selectedDocument){
                statusDisplay.textContent = 'Пожалуйста, выберите документ.';
                return; 
            }

            if (!recipientAddress) {
                statusDisplay.textContent = 'Пожалуйста, введите адрес.';
                return;
            }

            try {
                const response = await fetch('/send', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        documentHash: selectedDocument,
                        recipientAddress: recipientAddress
                    })
                });

                const result = await response.json();

                if (response.ok) {
                    statusDisplay.textContent = 'Документ успешно отправлен.';
                } else {
                    statusDisplay.textContent = `Ошибка: ${result.error}`;
                }
            } catch (error) {
                statusDisplay.textContent = `Ошибка: ${error.message}`;
            }
        });
    </script>

</body>
</html>